.dashboard-container {
  margin: 20px;
  background-color: #f1fff0; /* Light Blue Background Color */
}

.dashboard-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Decreased margin for less spacing */
}

.dashboard-controls input,
.dashboard-controls select {
  margin-right: 10px;
  padding: 8px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dashboard-table th,
.dashboard-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.dashboard-table th {
  background-color: #f2f2f2;
}

.dashboard-table tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s;
}

/* Dashboard.css */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #007bff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 0 5px;
  border-radius: 50%; /* Use 50% for a fully rounded button */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}

.pagination .active {
  background-color: rgb(221, 137, 137);
  color: #fff;
  border-radius: 50%; /* Use 50% for a fully rounded button */
}
.legend-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px; /* Added margin for spacing between legend and pie chart */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
}

.legend-color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
}

.legend-label {
  font-size: 12px;
}

.charts-container {
  display: flex;
  justify-content: space-around; /* Adjusted space between charts */
  margin: 20px;
}

.pie-chart-container,
.barchart-container,
.stackedbar-container {
  flex: 1;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

